# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Logs
log/

# Environment variables (VERY IMPORTANT)
.env

# VS Code workspace file
*.code-workspace

# Optional (good practice)
.DS_Store
Thumbs.db